// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board {
  text-align: center;
}

.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.square:hover {
  background-color: #d9dce0;
}
